body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    color: #bbb;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.card {
    padding: 20px;
    border-radius: 20px;
    color: #111;
    font-weight: 500;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    transition: 0.3s;
}


.card:hover {
    transform: scale(1.05);
}

.monday {
    background: #f4c7a1;
}

.tuesday {
    background: #a9d1cf;
}

.wednesday {
    background: #d2b48c;
}

.friday {
    background: #b9b6e5;
}

.footer {
    margin-top: 30px;
    font-size: 16px;
}

/* WhatsApp button */
.whatsapp {
    display: block;
    background: #25D366;
    color: white;
    padding: 15px;
    border-radius: 12px;
    text-decoration: none;
    margin-top: 15px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .schedule {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 26px;
    }

    .subtitle {
        font-size: 16px;
    }
}
